* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;              /* sf: For IE only, flex on body */ 
    flex-direction: column;     /* sf: to wrap .site again with flex container */
}

.site {
    display: flex;              /* sf: for sticky footer */
    flex-direction: column;     /* sf: flex on parent with direction column */
    min-height: 100vh;          /* sf: parent with min-height = viewport */
    align-items: center;        /* cc: centered alle flex-items entlang der Längsachse (d.h. column) */
}

.content {
    flex: 1 0 auto;             /* sf: for sticky footer, make content use up all */ 
    max-width: 800px;           /* cc: max breite des centered content */
    width: 100%;                /* cc: falls width < max-width 100% der verfügbaren breite füllen */
}                               /*     100wh ginge auch aber ist unschön soblad v-scrollbar erscheint */

.nav-bar {
    display: flex;
    justify-content: flex-end;

}
.nav-bar > li {
    list-style-type: none;      /* remove bullet */ 
    border: 1px yellow solid; 
}


/* Colors only */
* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: red;
}

main {
    background-color: green;
}

footer {
    background-color: blue;
}

.nav-bar { 
    border: 1px black solid;
}
.nav-bar > li {
    border: 1px yellow solid; 
}