* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;              /* For IE only, flex on body */ 
    flex-direction: column;     /* to wrap .site again with flex container */
}

.site {
    display: flex;              /* for sticky footer */
    flex-direction: column;     /* flex on parent with direction column */
    height: 100vh;              /* fixed height */   
}

.content {                      /* content, header and footer remain on flex-defaults 0 1 auto */
    flex: 1 1 0;                /* make content use up all, but start at 0 and */
    overflow-y: auto;           /* show y scrollbar when required */
}                               

/* Colors only */
* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: red;
}

main {
    background-color: green;
}

footer {
    background-color: blue;
}