* {
    margin: 0;
    padding: 0;
}

/* For IE only, flex on body to wrap .site again with flex container */
body {
    display: flex;  
    flex-direction: column;    
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

.content {
    flex: 1 0 auto;
}



/* Colors only */
* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: red;
}

main {
    background-color: green;
}

footer {
    background-color: blue;
}