* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;              /* For IE only, flex on body */ 
    flex-direction: column;     /* to wrap .site again with flex container */
}

.site {
    display: flex;              /* for sticky footer */
    flex-direction: column;     /* flex on parent with direction column */
    min-height: 100vh;          /* parent with min-height = viewport */

}

.content {
    flex: 1 0 auto;             /* for sticky footer, make content use up all */  
}                               /* header and footer remain on defaults 0 1 auto */


/* Colors only */
* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: red;
}

main {
    background-color: green;
}

footer {
    background-color: blue;
}